@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@400;500;700;900&display=swap');

// Fonts
$Roboto:'Roboto', sans-serif;

// Colors

    // Light mode

$primary:#AFC0C5;
$primary-dark:#085274;
$light-bg: #ffffff;

    // Dark mode

$secondary:#00FAD9;
$secondary-dark: #056F66;
$dark-bg: #444444;

// Spacing

$spacing-md: 16px;
$spacing-lg: 32px;

// Border-radius

$borderRadius: 12px;

// Header height

$headerHeight: 100px;

// Mixin

@mixin breakpoint($point){
    @if $point == md{
        //768px
        @media (min-width: 48em){
            @content;
        }
    }
}
