@import './../../../styles/scss/globals.scss';


.divisor{
    border-top: 1px solid $primary-dark;
}
.footer{
    height: 200px;
    @extend .display-row;
    justify-content: space-between;
    .footer__info{
        width: 70%;
        @extend .display-column;
        .footer-info__container{
            @extend .display-row;
            justify-content: space-around;
            align-items: flex-start;
            .info-container__list{
                @extend .display-column;
                margin-top: 5px;
                .container__title{
                    text-transform: uppercase;
                    color: $primary-dark;
                    font-weight: bold;
                }
                .container__list{
                    @extend .display-column;
                    .list__link{
                        text-decoration: none;
                        color: $primary-dark;
                        padding: 0 5px 15px 5px;
                        margin-left: -45px;
                    }

                }
            }
            
        }
        .footer-info__copyright{
            margin: auto;
            color: $primary-dark;
        }
    }
    .footer__logo{
        background-color: $primary;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 30%;
        height: 140%;
        .footer__line{
            border-bottom: 1px solid $primary-dark;
            width: 80%;
        }
        .footer-logo__slogan{
            text-transform: uppercase;
            font-weight: bold;
            color: $primary-dark;
        }
    }

}
