@import './../../../styles/scss/globals.scss';


.nav__container{
    @extend .display-row;
    justify-content: center;
    .nav__list{
        @extend .display-row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        border-bottom: 1px solid $primary-dark;
        margin: 20px auto;
        .nav-list__link{
            text-decoration: none;
            text-transform: uppercase;
            padding-bottom: 10px;
        }
    }
}