@import './../../../styles/scss/globals.scss';

.nav__container{
    @extend .display-column;
    justify-content: center;
    align-items: center; 
    .nav__list{
        @extend .display-row;
        justify-content: space-around;
        list-style: none;
        .nav-list__link{
            text-decoration: none;
            margin: 10px 20px;
            color: $primary-dark;
            font-weight: bold;
        }
    }
}
.nav__botton-line{
    width: 70%;
    align-items: center;
    border-bottom: 1px solid $primary-dark;
}