@import './../../../styles/scss/globals.scss';


.header__main{
    @extend .display-row;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    color: $primary-dark;
    padding: 0 20px;
    max-height: 80px;
    .header-main__search{
        @extend .display-row;
        align-items: center;
        margin-left: 30px;
        .main-search__icon{
            font-size: 1.2rem;
            color: $primary-dark;
        }
        .main-search__input{
            width: 100px;
            background-color:$primary;
            border: none;
            padding-left: 20px;
            color: $primary-dark;
        }
    }
    // Aquí estilos del logo
    .header-main__logo{
        margin: 10px auto;
    }

    .header-main__user-area{
        margin-right: 30px;
        width: 80px;
        @extend .display-row;
        justify-content: space-around;
        align-items: center;
        .user-area__icon{
            font-size: 1.2rem;
            color: $primary-dark;
        }
    }
}